[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
pytest-django = "*"
factory-boy = "*"
django-debug-toolbar = "*"
Sphinx = "*"

[packages]
csci-utils = {editable = true, git = "https://github.com/csci-e-29/2021sp-csci-utils-mdhor"}
django = "*"
pj-scraper = "*"
fastparquet = "*"
seaborn = "*"
mpld3 = "*"
django-environ = "*"
django-model-utils = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-extensions = "*"

[requires]
python_version = "3.8"
